# üìù Problem Statement### *Please use Python to answer this question*

In order to impro **user retentn** and low **chn**, the growth team  **Robinhd** is interested in understandiwhyy** awhichiusers** withdraw money from their Robinhood accoun

A user is considere**churn** when thei**equity val** (amount of money in Robinhood account) fall**below \$10 for a period of 28 consecutive calendar days or long**, after having previously been at leas**10.
. $10.

---

## üìä Using the datasets given below, answer the following questions:

### a) What percentage of users have churned in the data provided?  
**[4 points]**

---

### b) Build a classifier that, given a user with their features, assigns a churn probability for every user and predicts which users will churn.

- How well does your classifier perform?
- State any metrics you deem important here.
- Based on the classifier output, classify each user in the dataset as churned or not churned.

**[5 points]**

---

### c) List the most important features that correlate to user churn.  
**[3 points]**

---

üëâ Please provide the **code** and any **explanation of your assumptions and methodology**.nd methodology

In [51]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import colorama
from colorama import Fore, Style  # makes strings colored
from termcolor import colored
from termcolor import cprint

In [52]:
#function handler to neat heading display
def heading(title):
  print(Fore.RED + '-'*50)
  print(Fore.BLUE + title.upper())
  print(Fore.RED + '-'*50)
  print(Fore.GREEN)

In [53]:
heading('Loading the equity data to a pandas dataframe')
equity_df = pd.read_csv('equity_value_data.csv')
equity_df.head(10)

--------------------------------------------------
LOADING THE EQUITY DATA TO A PANDAS DATAFRAME
--------------------------------------------------

              timestamp  close_equity                           user_id
0  2016-11-16T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
1  2016-11-17T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
2  2016-11-18T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
3  2016-11-21T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
4  2016-11-22T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
5  2016-11-23T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
6  2016-11-25T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
7  2016-11-28T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
8  2016-11-29T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
9  2016-11-30T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03

In [54]:
heading('Data Shape Information')
print('Number of rows: ', equity_df.shape[0])
print('Number of columns: ', equity_df.shape[1])

--------------------------------------------------
DATA SHAPE INFORMATION
--------------------------------------------------

Number of rows:  1119158
Number of columns:  3

In [55]:
heading('Equity Data Information')
equity_df.info()

--------------------------------------------------
EQUITY DATA INFORMATION
--------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119158 entries, 0 to 1119157
Data columns (total 3 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   timestamp     1119158 non-null  object
 1   close_equity  1119158 non-null  float64
 2   user_id       1119158 non-null  object
dtypes: float64(1), object(2)
memory usage: 25.6+ MB

In [56]:
heading('Checking for missing data')
equity_df.isnull().sum()

--------------------------------------------------
CHECKING FOR MISSING DATA
--------------------------------------------------

timestamp       0
close_equity    0
user_id         0
dtype: int64

In [57]:
heading('Checking for count of unique values')
equity_df.nunique()

--------------------------------------------------
CHECKING FOR COUNT OF UNIQUE VALUES
--------------------------------------------------

timestamp          255
close_equity    531483
user_id           5584
dtype: int64

In [58]:
heading('Converting timestamp to datetime')
equity_df['timestamp'] = pd.to_datetime(equity_df['timestamp'])
equity_df.info()

--------------------------------------------------
CONVERTING TIMESTAMP TO DATETIME
--------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119158 entries, 0 to 1119157
Data columns (total 3 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   timestamp     1119158 non-null  datetime64[ns, UTC]
 1   close_equity  1119158 non-null  float64
 2   user_id       1119158 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), object(1)
memory usage: 25.6+ MB

In [59]:
heading('Sort the dataframe by user_id and timestamp')
equity_df = equity_df.sort_values(by=['user_id', 'timestamp'])
equity_df.head(10)

--------------------------------------------------
SORT THE DATAFRAME BY USER_ID AND TIMESTAMP
--------------------------------------------------

,timestamp,close_equity,user_id
505994,2016-08-18 00:00:00+00:00,1211.6055,0012db34aa7b083f5714e7831195e54d
505995,2016-08-19 00:00:00+00:00,1173.5640,0012db34aa7b083f5714e7831195e54d
505996,2016-08-22 00:00:00+00:00,1253.0597,0012db34aa7b083f5714e7831195e54d
505997,2016-08-23 00:00:00+00:00,1252.9050,0012db34aa7b083f5714e7831195e54d
505998,2016-08-24 00:00:00+00:00,1262.1360,0012db34aa7b083f5714e7831195e54d
505999,2016-08-25 00:00:00+00:00,1226.4250,0012db34aa7b083f5714e7831195e54d
506000,2016-08-26 00:00:00+00:00,1227.9610,0012db34aa7b083f5714e7831195e54d
506001,2016-08-29 00:00:00+00:00,1250.9700,0012db34aa7b083f5714e7831195e54d
506002,2016-08-30 00:00:00+00:00,1248.1000,0012db34aa7b083f5714e7831195e54d
506003,2016-08-31 00:00:00+00:00,1241.5560,0012db34aa7b083f5714e7831195e54d

In [60]:
heading('Calculate the gap in days between each timestamp')
equity_df['gap_days'] = equity_df.groupby('user_id')['timestamp'].diff()
equity_df.head(5)

--------------------------------------------------
CALCULATE THE GAP IN DAYS BETWEEN EACH TIMESTAMP
--------------------------------------------------

,timestamp,close_equity,user_id,gap_days
505994,2016-08-18 00:00:00+00:00,1211.6055,0012db34aa7b083f5714e7831195e54d,NaT
505995,2016-08-19 00:00:00+00:00,1173.5640,0012db34aa7b083f5714e7831195e54d,1 days
505996,2016-08-22 00:00:00+00:00,1253.0597,0012db34aa7b083f5714e7831195e54d,3 days
505997,2016-08-23 00:00:00+00:00,1252.9050,0012db34aa7b083f5714e7831195e54d,1 days
505998,2016-08-24 00:00:00+00:00,1262.1360,0012db34aa7b083f5714e7831195e54d,1 days

In [61]:
heading('Converting gap_days to timedelta')
equity_df['gap_days'] = pd.to_timedelta(equity_df['gap_days'])
equity_df.info()

--------------------------------------------------
CONVERTING GAP_DAYS TO TIMEDELTA
--------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Index: 1119158 entries, 505994 to 675758
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   timestamp     1119158 non-null  datetime64[ns, UTC]
 1   close_equity  1119158 non-null  float64
 2   user_id       1119158 non-null  object
 3   gap_days      1113574 non-null  timedelta64[ns]
dtypes: datetime64[ns, UTC](1), float64(1), object(1), timedelta64[ns](1)
memory usage: 42.7+ MB

In [63]:
heading('Getting users who have not logged > than 28 days')
churned_user_ids = equity_df[equity_df['gap_days'] >= pd.Timedelta('28 days')]['user_id'].unique()

--------------------------------------------------
GETTING USERS WHO HAVE NOT LOGGED > THAN 28 DAYS
--------------------------------------------------

array(['00440034cc4152bfb01b30f5c381c4e3',
       '005d630a68b4ab3a2f4cd49d9a87c50d',
       '028367ff3cbcc04c2afc2ce3336c00e2',
       '0423b88554cedaa7efd8dd4c81774cce',
       '062ea0ff3b7fc36ae471968aced1f4a1',
       '06791cf0a732f1713f9f000b18379e29',
       '06b894b1cc7bb832284efa097c122e2a',
       '06d8d807c4752e58a570eb1f0eb45457',
       '08dcfa90e0fee20f81520d54b57699d3',
       '094b17a44df22e2fcaca13375228693c',
       '09bc5486de3a64be6dcf3a8c76bbe06a',
       '0a1f704ce5fcf76e24bdf3a2c004156c',
       '0b05f8d83e97ac57867fe87a2437b21f',
       '0c50df40297bccb39bdf65f44e97e98b',
       '0e28a976de6797ffa6de7cd2e9677d61',
       '100386c32f44fc26f6dcff753754dd5e',
       '14b44db6ff01a66a284d6d4a62975706',
       '154468995a106521938c2953acdec230',
       '15712a490a2f4d1c73188de8dbde34d9',
       '16e5aa4d2433e921992eff4125fdcdab',
       '1904cc9aae42a09862998d059cf5cec1',
       '193b7e9382043cce5ae965268ec47879',
       '19692da524c0ccbb64017a68e7bfb27e',
       '19c5ffe69d42129a131da5ba77dd110c',
       '1a8d66727332fb16f70b0c125b462200',
       '1c60dbef2c2ebd513dec7b6702f43e48',
       '1d65de8d8c9041ddc097654d2b9009f4',
       '1db1845598caddfac89ee40e2d781b38',
       '1ff89680e3e3596c67cea1519810967c',
       '20936e45b85da1ec29305d15aecc4d7f',
       '209cbf0d52efd985e9a15aad05ee1e3a',
       '20f9f229c5dcd4c1ca3c07dc549e6f6a',
       '224a5a89d852aa75396853e5ea66c6cc',
       '23994d84edc783a3379830b5f242f3d7',
       '23b947366e6f1f28c0c2ca4162f95d07',
       '2586468e2f4fbe42e39bdb51ce088618',
       '25db7f38515e4f486547705bb3fd283b',
       '270cda53a026bcf6c2b98492b23c1b99',
       '27133e19b676a5164b223673df5171ca',
       '27a451ff020cb711798cdb018fb47ee0',
       '28099dd28b095346298166c41b5981c1',
       '29e29b170d4844397590e511100e1457',
       '2a5cd241046cf1d46fd8d701f20af810',
       '2a721c25c0023043b7acc8fb13273674',
       '2aeedaa2f3835284d203abf35eff9360',
       '2b6a001da0b727e4a0fac537d4c0430d',
       '2b7e3d49b9c68c05476402a543e3e70c',
       '2c7c1bd119f2aaf6728b1523b7b4837d',
       '2c88c6a88df93b03dc0165f42b916330',
       '2cd8c868a6c6ce64dd844deaedb58eb5',
       '2d76fafa89066ffb187dfd4deb5de972',
       '308504583b14217d5646b667d9fa9186',
       '31454a86aeecfd1c0321001e0fc1d21f',
       '3187b241013a6d8a925e38d88976b210',
       '319c069e77187c7e7e7c027eb00fd941',
       '31c1c4774b4bfd1e6f9428b677bcfe16',
       '321ba399276b5775758c9c0673796b26',
       '34437a9555b3aeac9f380e49c7eff86f',
       '37da4a15f4a73ab39806898db961ac67',
       '38d88bb24b0f4c4b953fe57befb6743b',
       '39c830063e36256f3759d48e962305f7',
       '3c4e68d8d49ea68fe35b829ee2a3272e',
       '3d3287d57b29b6eb6e5ad3b4cb6df116',
       '3d8664d2b058d4796589a4dbedcc1a48',
       '3d985c5c79ce6ba62192dbfe6876cb43',
       '3e3810f736cb08a091a43bf10b022fee',
       '3f769599a8872eaf27d789e2790add31',
       '40237ce279ce215e2167ffc30d6e201f',
       '416f240ebb7242226caba938452fb29d',
       '42d770c7fd58e1a3c93ff190cab9cbdc',
       '438340f3612614e3772bed49aaf12dff',
       '43b94d6b8058c094189073cd415068e2',
       '44a2d398d8783c29f605f3528b6f5eb7',
       '44ac767daeeb89ddc5b1aa7baee961f7',
       '46c10c1913eb5cb5f9f53272793f9a97',
       '4d6521031eeb30c1fd97fc3c6eeb032f',
       '4db4db8398496203a7def94692739f86',
       '4e0972689a7ee96f2146d55ff06d6512',
       '50b846ab40078ae27b0bf7d6004c9a28',
       '51acfbb640aaa495e66413ba8e5282bf',
       '5209323da70ec9cbff7e4433dd73f110',
       '53bd3cbe4e6bf99cc7fe1b49e2df6dbf',
       '54a06416deb48c1b8926d9a7eb9ce045',
       '56049016e7e3bb7bb51c73a04c0ac121',
       '570847a47a671f85e20d621db8473c43',
       '5761fd7c2bd8ace1e71fcf289d12ab94',
       '581bea785cd22e869b2ce54e2de96f59',
       '5926608bac1c2e7eb3338fa88a00b898',
       '5a863b2bc04beb83abd3dfa28e6a2495',
       '5b284610a2d273aaee00e38779136101',
       '5b947006854fcc89e8d274c451e61723',
       '5bcd659135fa765d0f81824a429d4829',
       '5d496d48dd4c6eb228a9f0dcf463a615',
       '5e4a7fe44bb9a4fbfb7c0aae4528e4ab',
       '5eb7e5244d0e33ce744fbe2d530b9c75',
       '5ef56c17f6ee2b5dac06c6771a61f630',
       '5fd4a01d324f8d20eaa2c43809e9f948',
       '603c8be5f0a3ddc5eaddd0e7be359db7',
       '621183465fae044fb72f9a18965dc91a',
       '6253df8c1d5363529383ebd1224f17fb',
       '6372f9d87a90fc40e48b6809f51dd9da',
       '63ccce12a09c4bfdace2e7c024d06095',
       '6487775b5f0ffee9805441305bdba12f',
       '6746630cf50558c45a2356a8668dc58d',
       '6899204412b6411b833e93e4834bd184',
       '69a1d13284e4316b5caff46708be3df7',
       '69e993e9fefdad569ed98737b2c1ae96',
       '6b96bfef7d13b5bd4d1ef16e7b699966',
       '6ccf03fe08b5da51be52b15bf4f8dcdc',
       '6cf59bead8b08bf991560bb83ddf1403',
       '6d023085bc7c07b8198ed555763410f4',
       '6d6ba9a872ff3306ab66a9060d986d7d',
       '6d8a13ee1df0f2bbd72448626155adc1',
       '6db26fd760fe94a152c121f3be3c10e7',
       '6dbedf7f2972b4f6ea60a15d48cb292c',
       '6e9eabf041c5fa517dc5fb0b38410cc3',
       '6ed8f5592531a0fe623d16422beca198',
       '6ee3ac51944a237b11bc809fc66458a7',
       '6fd0fa4154ed9b12cbd256530c69351c',
       '7082ace269763c03e16a2adda1c3d540',
       '70ada64c4dfb1c864e7801809c679854',
       '71f2464ca5f598341f7c6c01c77d2a3b',
       '728afdf5085bb7686e71f4808681ed5a',
       '7396c4fa549a1b58241df9a5dc6be3e0',
       '7422f06ce8c9a87ac2ee1869cd83a7e9',
       '7499a39c41505b823e451c32468d5c7a',
       '75aec33f8ce0185c1ef0d8168b691269',
       '75cd7656a3a741fcb1bafe7b903ee2b1',
       '75df5268be7f13b530b2ee1c9a0b9cee',
       '77e2ac2568295a760470f47fa2932374',
       '791452b0aa114db17bfbc9f8396a93ba',
       '798ea74a47a868e2394403abb6b4ef62',
       '79bff70c92dcbdafddc0d37d34bc528d',
       '7a88f40721072a8e4fdc8ebbaf3f5390',
       '7b547904370c9cf70428f96104a1cb5a',
       '7d45d0028650185f557075bc0781a248',
       '7edbb45bec57daf79c0262cdba0be869',
       '7f9dee557e08cd3748fe9f84bb3afc8d',
       '7fafe2fbca869d4bc998e95398305022',
       '8008cc58ba83b92e2c7e920031551a76',
       '80952c19c520b299780723736f917782',
       '80b56aa3f6e5a09715eff368f930dd55',
       '829bb32d81413f9bf443a5e42c406abf',
       '83cee7c744b6adf18f84916ad785f705',
       '83d7febedd0b6ea977daac382d74d982',
       '83dc7d45915184fbc6dab8d55209aee4',
       '84bdc292cfb6f9787aee9ea2fc5afc54',
       '8610dd2952d1f01d55dd7fb6d578d69f',
       '877566ffd3d22c07380588ad084ce018',
       '8a03c29f1eff05547e3d4c6eb59ae831',
       '8e93d188c956568cd2821d12f3a9c243',
       '8ee95007509e757d0e38ff3916c183c2',
       '902055b6dc962d3d248f49bc1822838b',
       '904756586c71305cc4cad1324731ee75',
       '9121bbdb811bcb10de9b6f85b2b5e458',
       '913151e28f7256589fe7533f8de649a2',
       '91837d41270b81b267fc205c3e03ee9b',
       '91b4e763f846c294d4a33adc61068f56',
       '91c9235fe8ab5595b2f31a86305f55e8',
       '91ef6cc74e3f911317fd18f0c7d99909',
       '926c3d563f6bd7fa0cbb7c7b13c4835b',
       '93d20035f76020c6979ac3f9596fe6cd',
       '941c53ce1a0fd80fc13b302c9d765172',
       '948ceac051af95834026fdb32f896581',
       '94ccec279abbce50e65d10ec87b0fbc4',
       '963c5a5cbe254a56621e1b1ef45877f1',
       '963da99bac82c8bda105740ad590dc67',
       '975ce5d5f60c8df32f2bd0fb0c1f21bf',
       '98580360c4fb5b0ec511cd87f0d429ed',
       '9876aa7beb65bda0259a16e4fba8858c',
       '99351e26205e5a0688310b8878675a24',
       '999d2f2bb1f863852b7701c335f61e7d',
       '9a0cf7ccee45f29b4e89d2062a5b7c22',
       '9b6529a0e567d407ea23726c972c53a1',
       '9bc8bb5b5e8b3e1ee2c91ec320646b39',
       '9d3c6ed254ed3f38b124dac54784367b',
       '9d43466a8a2930cd5420f63ef8f03650',
       '9e54385afbce2ac55800a932a1417890',
       'a0dd1f3ff51ee939617b561d247d9c95',
       'a149e2af13036690466649939eff34b2',
       'a18b4a7218e5ef7e6200fc280cf08864',
       'a195dfcda73338a7b7572d72a4ae0fb9',
       'a251d84642f6e1d061be6346f30b1df6',
       'a28e1cde8439bb9a5a3b202b4b169ddf',
       'a2c1ca082061ef5079a2fb447daac8d0',
       'a38e9edc394e282bbacf1a67fa454512',
       'a44e6ecac329f16f2f294c2e2d0ca114',
       'a6caca1b50c2ae054abd5d8ee3a5634a',
       'a797fff2fb1dbee743c71522d32102b4',
       'a861a08b5a80eb5e5f6fbbf08e585cf2',
       'a932a1225f2b942461b5c21122f4c9da',
       'ae8315109657f44852b24c6bca4decd6',
       'aee0fa4a5a283eb262ce1cfe613e610b',
       'afb70789163c1e970a3a450046240abd',
       'b166142cedeafe15481045232719371a',
       'b2c7611f3d03a180f56e82ce6da1695d',
       'b360693b2b640ef7b46c80fc18d8fab5',
       'b3ce35ba03373f3ca663cab6931cfef8',
       'b46bc1e8a374ebdbc8c0b4f6d501e4c5',
       'b65ab49d8f20fa55d8b0a387184d1525',
       'b68798cb2c64254d01481347d70f0290',
       'b75ffd8591c47ee3190b10da7296e596',
       'b7cd222cf0dab4f6906ad1ba3adb9fd4',
       'b8343c09ec9bca0b3dd62790f2314742',
       'b8e61fc3280a0dd9ac472321cce8c0cf',
       'ba853df9e9aa4015ceb4fe4d9a1d237a',
       'bbd6d6162717a32c2a9266fc10a790a7',
       'bc542c0235354403a6546efcbef7ffc1',
       'bce625de7fc0136fefd551137ee7e47c',
       'bd49d5fdcaf6278e95803bea587ffe3e',
       'c06c7cd2c5aa77ebb32fe0def19b6a6c',
       'c06d2b4a83598c32e6f71cece64a126d',
       'c0e5bcd259e687d9b6b63931952e09cc',
       'c0eb9d1466bd8e338cefe499882ad91b',
       'c162193a2274e87e36dddbc368e19be2',
       'c35c71450a6ed7d421ff2ae4fc4657ef',
       'c3cfb8b7d1ec5f78de56d72adffa786b',
       'c417326772ca80511a699831792aa091',
       'c537562a42bc8e02112f590f500ef7b3',
       'c926d04214d81b4f2ccb9fe507dec963',
       'ca6ebac30e56fd90c27b3c65c9872da0',
       'cacea5dee2c118096c2327064960ead8',
       'cad5e80f6bb252e6b30296568d90be87',
       'caecfd26cf2b54034546e7130e748d3b',
       'cb425ebae259dcf3b0b663721dfd16dd',
       'cb79656e6d265ca7f42625a019dfa848',
       'cd536157baa713be86fb7295b2a2f164',
       'ced62a0de4ebb31cd1f58239c7f153a0',
       'cf1a7929082c86fdfbdb47811e9340de',
       'd115f8b128f31c22670270585158f39b',
       'd21856ef0bbea69a667f8684ef27668a',
       'd5c6a5a87d3f3dd8ae2e17260ac6fbcc',
       'd61ce186b131f7ba9df731813c331a92',
       'd78228aea77a79c60c2cde37a4e20748',
       'd84a73b2e29b6e9cdf3f8fc18363bd63',
       'd8de76b590f1d59e47a392b8c95f60b5',
       'd93ed0c34f3026e75c40a4c3fbcf2f78',
       'dbb6b78baf843ce4db8898712bae3b73',
       'dcad234e3b574ae0da9748e3ace657f2',
       'dcb3addd9275d5e2cd27a80b3189fac7',
       'dd229a74b6a3477075139c8799a98c2c',
       'dd8aaf2cb2739e32a76d905f962602dd',
       'e1c185da7316bebb488d2066f1292440',
       'e208d86a4fffbe9e12977e0646d87c24',
       'e4dfa0cc334f9a710801f0728040e894',
       'e4f55b6b6dc6ed7635f80a7c00ab78f7',
       'e55b218893add639103baa3abd90e588',
       'e7b20c188ac1fa60497dc415091d62f0',
       'e8a4959d25fdb588324ef84eecf3d071',
       'e8a890551e06f0e712cc7e8f46ae1c8a',
       'ea51109f55329bedef6a1798a1f1d20d',
       'eb0a55af70b92d4af9f3dc460b6fb0b9',
       'ec781fbc977db5d88af48e5304d5da41',
       'ec84f134c5b27c4f5702803e98eb3f40',
       'ecd3be20ba7b22811a33151289f77547',
       'ed336912962777f3d9815e4af435bc6a',
       'edec0a3b99769034728d37f4576a7ce9',
       'ee1209d1025e38c5ac9220ab5dfa6a01',
       'ee8b8a67d3d6e36853202015f7859a8f',
       'eefc1ed112a76036a7cfd71352988303',
       'f00571ccb2caf2e92e7081e1bb7d2fff',
       'f0b60bf9e2ceba027dc1f67d0152f4fa',
       'f104992bbe3a8c95233ba21bd57cab14',
       'f236c4b4f9c6810e3a509c9bf2d556f8',
       'f26565e1041ffb7f6455a60b3b47ccb4',
       'f46e1394b110fba8c94cdc93a0fdcf81',
       'f4cac8c1544b723ddedc9bdba81c64c0',
       'f53d4b3dbb2fdcfd93e1b8acacd60aa4',
       'f97628bf1b525e526a094654ba001cde',
       'f9a3287c29dff3b9f0a3e6aa4ec2c625',
       'fb35f2d4f7bd6c9e4085856fe14e8d89',
       'fbc5223e0b38db36c9b3439326aae416',
       'fbec3cca892e02e38d31aea039989a61',
       'fc353050ba7efd820904cd7457b4b52f',
       'fdc54af66d1190dec81b95b4a2965634',
       'ff0ae95285c43e3a5af84860bffaa544',
       'ff377467d4e28b425266a8b2c8b2f5c7',
       'ff7610fdd7ac5cbfa0b17aca53af5db4',
       'ff98cbc9633a9255a711d02ebc1e8294'], dtype=object)

In [68]:
heading('Total # users who have not logged > than 28 days')
num_churned_users_id = equity_df[equity_df['gap_days'] >= pd.Timedelta('28 days')]['user_id'].nunique()
print(num_churned_users_id)

--------------------------------------------------
TOTAL # USERS WHO HAVE NOT LOGGED > THAN 28 DAYS
--------------------------------------------------

279

In [67]:
total_unique_user_ids = equity_df['user_id'].nunique()
heading('Total # users who have not logged > than 28 days')
print(total_unique_user_ids)

--------------------------------------------------
TOTAL # USERS WHO HAVE NOT LOGGED > THAN 28 DAYS
--------------------------------------------------

5584

In [49]:
percent_of_churned_users = np.round( (num_churned_users)/len(total_unique_user_ids) * 100, decimals = 2)
print('The percentage of churned users = {0}%'.format(percent_of_churned_users))

The percentage of churned users = 5.0%

In [5]:
features_df.head(10)

,risk_tolerance,investment_experience,liquidity_needs,platform,time_spent,instrument_type_first_traded,first_deposit_amount,time_horizon,user_id
0,high_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,33.129417,stock,40.0,med_time_horizon,895044c23edc821881e87da749c01034
1,med_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,16.573517,stock,200.0,short_time_horizon,458b1d95441ced242949deefe8e4b638
2,med_risk_tolerance,limited_investment_exp,very_important_liq_need,iOS,10.008367,stock,25.0,long_time_horizon,c7936f653d293479e034865db9bb932f
3,med_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,1.031633,stock,100.0,short_time_horizon,b255d4bd6c9ba194d3a350b3e76c6393
4,high_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,8.187250,stock,20.0,long_time_horizon,4a168225e89375b8de605cbc0977ae91
5,med_risk_tolerance,no_investment_exp,not_important_liq_need,iOS,12.968117,stock,100.0,med_time_horizon,0322b1d744cc89ebbe6ebe70d824d922
6,low_risk_tolerance,good_investment_exp,very_important_liq_need,Android,30.710083,stock,5.0,long_time_horizon,f4cac8c1544b723ddedc9bdba81c64c0
7,high_risk_tolerance,good_investment_exp,somewhat_important_liq_need,iOS,0.000000,stock,100.0,short_time_horizon,bdc39d2fc664ef9a5e6713168057f892
8,high_risk_tolerance,good_investment_exp,very_important_liq_need,iOS,0.000000,stock,5000.0,short_time_horizon,85f2f0f54411b4f3e7a403ba902e7280
9,med_risk_tolerance,no_investment_exp,very_important_liq_need,Android,2.969617,stock,11.0,med_time_horizon,529ddd19dac72d55cde8e633340a9aed

In [6]:
features_df.describe()

        time_spent  first_deposit_amount
count  5584.000000           5584.000000
mean     34.509706            633.566805
std     155.080551           2118.323263
min       0.000000              0.000000
25%       2.848908             50.000000
50%      13.474708            100.000000
75%      33.823829            500.000000
max    8788.329450          50000.000000

In [8]:
features_df.isnull().sum()

risk_tolerance                  0
investment_experience           0
liquidity_needs                 0
platform                        0
time_spent                      0
instrument_type_first_traded    0
first_deposit_amount            0
time_horizon                    0
user_id                         0
dtype: int64

In [9]:
features_df.shape

(5584, 9)